
{% extends "riddleme/base.html" %}
{% block title %} Profil użytkownika {% endblock %}
{% block navbar %} {% with activeProfile="active" %} {{block.super}} {% endwith %} {% endblock %}
{% block content %} 
<div class="card text-center mt-4 mx-auto" style="width: 40rem">
    <div class="card-header">
        Dane użytkownika
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ user.get_username }}</h5>
        <p class="card-text"> Data założenia konta: {{ creation_date }} </p>
        <hr>
        <h6 class="card-title">Statystyki zagadek</h6>
        <p class="card-text">Liczba rozwiązanych zagadek: {{ solved_puzzles }}</p>
        <p class="card-text">Liczba przesłanych zgłoszeń rozwiązań: {{ submitted_count }}</p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
    <div class="card-footer text-muted">
        Ostatnie logowanie: {{ last_activity }}
    </div>
</div>
<hr>
<div class="card text-center">
    <div class="card-body">
       <h5 class="card-title border-bottom pb-1 mb-1"> Rozwiązane zagadki </h5>
    </div>
</div>
{% for puzzle in puzzle_list %}
{% empty %}
<p class="text-center text-muted mt-2"> Spróbuj rozwiązać jakąś zagadkę, żeby się tu pojawiła! </p>
{% endfor %}
<!-- for each puzzle of a user create a card with proper background 
    green - solved
    yellow - started but unsolved

    card with puzzle title, date of solving (and maybe last submission?), liczbą odpowiedzi i linkiem do zagadki
-->
{% endblock %}