{% extends "riddleme/base.html" %}
{% block title %} {{ puzzle_title }} {% endblock %}
{% block navbar %} {{block.super}} {% endblock %}
{% block content %}
<div class="d-flex pt-3">
    <div class="card flex-grow-1" style="min-width: 20rem; min-height: 60rem">
        <div class="card-body">
            <h5 class="card-title border-bottom pb-1 pb-1"> {{ puzzle_title }} </h5>
            <p class="card-text" style="height: 80%">
                {{ puzzle_content | safe }}
            </p>
        </div>
        {% if user.is_authenticated %}
        <div class="card-footer">
            <form class="mt-auto" action="{% url 'puzzle' puzzle_id %}" method="post">
                {% csrf_token %}
                <input type="text" class="form-control" name="answer" placeholder="Odpowiedź" aria-label="Answer" {% if solved %} disabled {% endif %}>
            </form>
        </div>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="card w-25" style="min-width: 20rem; height: 60rem">
        <div class="card-body">
            <h5 class="card-title border-bottom pb-1 mb-1"> Ostatnie odpowiedzi: </h5>
            <ul class="list-group">
                {% for submission in submissions %}
                <li class="list-group-item" {% if submission.correct %}style="background-color: rgb(204, 255, 204) {% endif %}">
                    {{ submission.answer }} 
                    <span class="badge bg-secondary">{{ submission.date |timesince }} temu</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}