{% extends "riddleme/base.html" %}

{% block title %} Rejestracja {% endblock %}
{% block navbar %} {% with activeRegister="active" %} {{block.super}} {% endwith %} {% endblock %}

{% block content %}
<div class="container pt-5" style="max-width: 25em">
    <form class="container p-3" style="max-width: 25em" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Nazwa użytkownika</label>
            <div> {{ form.username }} </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">Hasło</label>
            <div> {{ form.password }} </div>
            <div id="passwordHelp" class="form-text">
                Hasło musi posiadać:
                <ul>
                    <li> minimum 8 znaków, </li>
                    <li> przynajmniej jedną cyfrę, </li>
                    <li> przynajmniej jedną wielką i małą literę. </li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.password_repeat.id_for_label }}" class="form-label">Potwierdź hasło</label>
            <div> {{ form.password_repeat }} </div>
        </div>
        <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>
</div>
{% endblock %}

<!--<input type="password" class="form-control" id="password" aria-describedby="passwordHelp">
        <div id="passwordHelp" class="form-text">Hasło musi posiadać:</div>-->